.div-container{
    padding: 15px;
    margin: 50px;
}

.card-footer{
    text-align: right;
}

.detail-back{
    margin-top: 20px;
}

#btn-modal-category{
    margin-top: 30px;
}

.btn-group-actions{
    margin-top: 15px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    min-height: 80px;
    position: static;
}

.main-content{
    margin-bottom: 200px;
}


.text-footer{
    margin-top: 15px;
}

.no_images{
    padding-bottom: 200px;
}
